altair
attrs
Babel
backports.zoneinfo
blinker
cachetools
certifi 
charset-normalizer
click
decorator
docopt
entrypoints
ffmpeg-python
filelock
Flask
Flask-Markdown
Frozen-Flask
future
gevent
gitdb
GitPython
greenlet
humanize
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
jsonschema
llvmlite
Markdown
markdown-it-py
MarkupSafe
mdurl
more-itertools
mpmath
networkx
numba
numpy
openai-whisper @ git+https://github.com/openai/whisper.git@6dea21fd7f7253bfe450f1e2512a0fe47ee2d258
packaging
pandas
Pillow
pip-chill
pkgutil_resolve_name
protobuf
pyarrow
pydeck
Pygments
Pympler
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
regex
requests
rich
semver
six
smmap
streamlit
sympy
tiktoken
toml
toolz
torch
tornado
tqdm
typing_extensions
tzdata
tzlocal
urllib3
validators
Werkzeug
whisper
zipp
zope.event
zope.interface
